# Tugas Pagi Hal 1-8 
Module1_Section2_Lab1_Python_Programming

# String
Strings are used in Python to record text information, such as name. Strings in Python are
actually a sequence, which basically means Python keeps track of every element in the string as a sequence.

In this section we will learn about:
1. Creating String
2. Printing String
3. String Indexing and Slicing
4. String Properties
5. String Methods
6. Print Formating

### Creating String
a series of characters in your code that is enclosed in double quotes.

In [1]:
# Single Word
print('hello')

hello

In [2]:
print() #Used to have a line space between two sentences. Try deleting this line & seeing the difference.

In [3]:
# Entire phrase
print('This is also a string')

This is also a string

### Variables : Store your Value in me!
In the code below we begin to explore how we can use a variable to which a string can be assigned.
1. variable_name = value or expression

In [4]:
# Variable
s = 'New York'

In [5]:
print(s)

New York

In [6]:
print(type(s))

<class 'str'>

In [7]:
print(len(s))

8

### String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.
In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python.

In [9]:
# Assign s as a string
s = 'Hello World'

In [10]:
# Print the object
print(s)

Hello World

In [11]:
# Show first element (in this case a letter)
print(s[0])

H

In [12]:
# Show the second element (also a letter)
print(s[1])

e

### String Concatenation and Repetition
String Concatenation is a process to combine two strings. It is done using the '+' operator.

String Repetition is a process of repeating a same string multiple times

In [13]:
#concatenation (addition)
s1 = 'Hello'
s2 = "World"

In [14]:
print(s1 + " " + s2)

Hello World

In [15]:
# repetition (multiplication)
print("Hello_" * 3)

Hello_Hello_Hello_

In [16]:
print("-" * 10)

----------

In [17]:
print((s1[3]+s1[4]*3) + s2[3])

loool

### String Slicing & Indexing
String Indexing is used to to select the letter at a particular index/position.

String Slicing is a process to select a subset of an entire string

In [18]:
s = "Namaste World"
# print sub strings
print(s[1]) #This is indexing.

a

In [19]:
print(s[6:11]) #This is known as slicing.

e Wor

In [20]:
print(s[-5:-1]) #kata diambil dari sisi paling belakang

Worl

In [21]:
# test substring membership
print("Wor" in s)

True

### String Method
Methods are in the form :

object.method(parameters)

In [22]:
s = "Hello World"
print(s.upper()) ## Convert all the element of the string to Upper case..!!

HELLO WORLD

In [23]:
print(s.lower()) ## Convert all the element of the string to Lower case..!!

hello world

### Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

Example code: 
1. %s >>> %
2. {} >>> .format

In [24]:
name = "Einstein"
age = 22
married = True

In [25]:
print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))

My name is Einstein, my age is 22, and it is True that I am married

In [26]:
print("Saya ada %s, umur saya %s, dan ini %s saya sudah married " %(name, age, married))

Saya ada Einstein, umur saya 22, dan ini True saya sudah married

In [27]:
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married

# NUMBER
Having worked with string we will turn our attention to numbers.

1. Types of Numbers in Python
2. Basic Arithmetic
3. Object Assignment in Python

 ## Types of numbers
  Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

##### Basic Arithmetic

In [29]:
# Addition
print(2+1)

3

In [30]:
# Subtraction
print(2-1)

1

In [31]:
# Multiplication
print(2*2)

4

In [32]:
# Division
print(3/2)

1.5

##### Arithmetic continued

In [33]:
# Powers
2**3

8

In [34]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [35]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Variable Assignments
Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

In [36]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [37]:
# Adding the objects
a+a

10

In [38]:
a*a

25

In [39]:
# Reassignment
a = 10

In [40]:
# Check
a

10

In [41]:
a+a

20